<ion-view view-title="Books">
  <ion-content class="padding">
    <div class="list card" ng-repeat="book in books | orderBy:'title'">
      <div class="item item-divider">
        {{book.title}}
        <span class="push-right">{{book.price | currency}}</span>
      </div>
      <div class="item item-body">
        <div>
          By {{book.author}}
          <span class="push-right">
            <button ng-click="addToCart(book)">Add To Cart</button>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
